/* YouTube */
[href*="youtu.be"],
[href*="youtube.com"] {
    color: #542623 !important;
}

/* Twitch */
[href*="twitch.tv"] {
    color: #765e80 !important;
}

/* Discord */
[href*="discord.com/channels/"] {
    color: #565b6e !important;
}

[href*="discord.com/channels/"]::before {
    color: #69667a;
}

[href*="betterdiscord.app/"],
[href*="discord.gg/"],
[href*="discord.com/"],
[href*="media.discordapp.net/"],
[href*="cdn.discordapp.com/"] {
    color: #8e93a3 !important;
}

/* Twitter */
[href*="twitter.com/"] {
    color: #5e677d !important;
}

/* GitHub */
[href*="github.com"] {
    color: #00f0a8 !important;
}

/* Imgur */
[href*="i.imgur.com"] {
    color: #4d573c !important;
}

/* Steam */
html.theme-dark [href*="store.steampowered.com"],
html.theme-dark [href*="https://s.team"],
html.theme-dark [href*="steamcommunity.com/"] {
    color: #707a87 !important;
}

html.theme-light [href*="store.steampowered.com"],
html.theme-light [href*="https://s.team"],
html.theme-light [href*="steamcommunity.com/"] {
    color: #5c6979 !important;
}

/* Spotify */
[href*="spotify.com"],
[href*="open.spotify.com"] {
    color: #3e5446 !important;
}

/* SoundCloud */
[href*="soundcloud.com"] {
    color: #ff5500 !important;
}
